<!--you need to use the small m here to call not capital-->
@model IEnumerable<Category> 

@{
    ViewData["Title"] = "Index";
}

<style>

	.image {
		padding: 5px;
		background-color: black;
		text-align: center;
	}

</style>

<div class="text-center">
	<br/>
	<h1 style="color:brown">Find your favorite new music!</h1>
	<br/>
</div>


<div class="image">
	<img src="css/music pic.jpg" width="150" height="150";/>

</div>

<!--added a table (review the steps) and added connections in C# to loop through category and pull data-->

<br/>
<br/>
<table class="table table-bordered table-striped" style="width:100%">
	<thead>
	<tr>
		<th>
			Song Title
		</th>
		<th>
			Playlist(s) <!--just in case a song can go to more than one list-->
		</th>
		
		<th>
			Display Order
		</th>
	</tr>
	</thead>

	<tbody>
	@foreach (var obj in Model) //for each loop to cycle through the category model and grab new table data
	{
		<tr>
			<td width="50%">
				@obj.SongTitle
			</td>

			<td width="40%">
				@obj.Name
			</td>

			<td width="10%">
				@obj.DisplayOrder
			</td>
		</tr>
	}
	</tbody>

</table>