<!--you need to use the small m here to call not capital-->
@model IEnumerable<Category> 

@{
    ViewData["Title"] = "Index";
}


<div class="text-center">
	<h1>Index Category</h1>
</div>

<!--added a table (review the steps) and added connections in C# to loop through category and pull data-->


<table class="table table-bordered table-striped" style="width:100%">
	<thead>
	<tr>
		<th>
			Category Name
		</th>
		<th>
			Song Title
		</th>
		<th>
			Display Order
		</th>
	</tr>
	</thead>

	<tbody>
	@foreach (var obj in Model) //for each loop to cycle through the category model and grab new table data
	{
		<tr>
			<td width="30%">
				@obj.Name
			</td>

			<td width="20%">
				@obj.DisplayOrder
			</td>
			
			<td width="50%">
				@obj.SongTitle
			</td>
		</tr>
	}
	</tbody>

</table>