@{
    ViewData["Title"] = "Home Page";
}

<style>

	.image1 {
		padding: 5px;
		background-color: black;
	}

	.welcome { /* maybe work on this later*/
	
	}

	.image2 {
		
		background-color: black;
	}
</style>

<br/>
<h4 class="welcome" style="color:red">
	Welcome to
</h4>


<div class="text-center">
	
	<h1 class="display-4">A Musical Affair! </h1>
	<br/>

	<div class="image1">
		<img src="css/music pic.jpg" width="200" height="200";/>

	</div>

	<br/>
	<h4 style="color: midnightblue">The best place for music playlists on the interwebs :)</h4>

</div>

<div>
	<p>
		<div class="image2">
			<img src="~/playlist.jpg" width="100" height="100" />
			<p>Click to find and download a playlist that's right<br /> for you, (or use the playlist tab above)</p>
		</div>
		
		Wanna build your own playlist? Click here (or use the create button above)
	</p>
	</div>
