@{
    ViewData["Title"] = "Home Page";
}

<style>

	.image {
		padding: 5px;
		background-color: black;
	}

</style>

<div class="text-center">
	<h1 class="display-4">Welcome to The Chill List</h1>
	<br/>

	<div class ="image">
		<img src="css/music pic.jpg" width="300" height="300"; />

	</div>

	<br/>
	<br/>
	<h3 style="color:midnightblue">The best place for chill music on the interwebs!</h3>
    
</div>
